[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
elasticsearch = "*"
flask-restx = "*"
flask-cors = "*"
wikipedia = "*"
numpy = "*"
networkx = "*"

[requires]
python_version = "3.7"
